@page "/economiccalendar"
@using DiaryOfTrader.Core.Entity.Economic


@foreach (var choice in Enum.GetValues(typeof(EconomicPeriod)).OfType<EconomicPeriod>().ToArray())
{
    <label>
        <input name="yourColor" type="radio"
               value="@choice"
               checked="@(Period == choice)"
               @onchange="@(() => { OnPeriodChanged(choice); })">
        @choice.ToString()
    </label>
}

<p/>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Время</th>
        <th scope="col">Валюта</th>
        <th scope="col">Событие</th>
        <th scope="col">Факт</th>
        <th scope="col">Прогноз</th>
    </tr>
    </thead>
    <tbody>
    @if (EconomicCalendars != null)
    {
        @foreach (var calendar in EconomicCalendars)
        {
            <tr>
                <td class="align-middle">
                    @calendar.Time
                </td>
                <td class="align-middle">
                    @calendar.Currency
                </td>
                <td class="align-middle">
                    @calendar.Description
                </td>
                <td class="align-middle">
                    @calendar.Factual
                </td>
                <td class="align-middle">
                    @calendar.Prognosis
                </td>
            </tr>
        }
    }
    </tbody>
</table>