@page "/MarketReview"
@using DiaryOfTrader.Core.Entity
<h3>MarketReviewPage</h3>

<EditForm class="card card-body bg-light mt-5" Model="_model">
    <DataAnnotationsValidator/>

    <div class="container">
        <div class="row">
            <div class="col">
                <HxInputDate Label="Date"
                             CalendarIcon="BootstrapIcon.Calendar"
                             InputSize="InputSize.Regular"
                             @bind-Value="MarketReview.DateTime"
                             CssClass="mb-3"/>
            </div>
            <div class="col">
                <HxSelect
                    TItem="TraderExchange"
                    TValue="long?"
                    Label="Exchange"
                    Data="Exchanges"
                    @bind-Value="_model.SelectedExchange"
                    TextSelector="@(p => p.Name)"
                    ValueSelector="@(p => p.ID)"
                    Nullable="true"
                    NullText="-select exchange-"
                    NullDataText="Loading exchanges..."/>
            </div>
            <div class="col">
                <HxSelect
                    TItem="Symbol"
                    TValue="long?"
                    Label="Symbol"
                    Data="Symbols"
                    @bind-Value="_model.SelectedSymbols"
                    TextSelector="@(p => p.Name)"
                    ValueSelector="@(p => p.ID)"
                    Nullable="true"
                    NullText="-select symbol-"
                    NullDataText="Loading symbols..."/>
            </div>
        </div>
        <div>
            <div>
                <HxInputText @bind-Value="MarketReview.Name" Label="Name"/>
            </div>
            <div>
                <HxInputTextArea @bind-Value="MarketReview.Description" Label="Description"/>
            </div>
        </div>
        <p/>
    </div>

    <div>
        <HxButton Color="ThemeColor.Success" OnClick="() => { AddFrame(); myModal.ShowAsync(); }">
            +
        </HxButton>

        <HxModal @ref="myModal" Title="Modal title" Centered="true">
            <BodyTemplate>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <HxInputText Label="Exchange"
                                         @bind-Value="@SelectedExchange.Name"
                                         InputMode="InputMode.None"
                                         readonly="true"/>
                        </div>
                        <div class="col">
                            <HxInputText Label="Symbol"
                                         @bind-Value="@SelectedSymbol.Name"
                                         InputMode="InputMode.None"
                                         readonly="true"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <HxSelect
                                TItem="TimeFrame"
                                TValue="TimeFrame?"
                                Label="Time Frame"
                                Data="TimeFrames"
                                @bind-Value="NewMarketReviewTimeFrame.Frame"
                                TextSelector="@(p => p.Name)"/>
                        </div>
                        <div class="col">
                            <HxSelect
                                TItem="Trend"
                                TValue="Trend?"
                                Label="Trend"
                                Data="Trends"
                                @bind-Value="NewMarketReviewTimeFrame.Trend"
                                TextSelector="@(p => p.Name)"/>
                        </div>
                        <div class="row">
                            <HxInputTextArea Label="Time frame analysis"
                                         @bind-Value="@NewMarketReviewTimeFrame.Description"/>
                        </div>
                    </div>
                </div>
            </BodyTemplate>
            <FooterTemplate>
                <HxButton Text="Close" OnClick="() => myModal.HideAsync()" Color="ThemeColor.Primary"/>
                <HxButton Text="OK" OnClick="() => {myModal.HideAsync(); Save(); }" Color="ThemeColor.Success"/>
            </FooterTemplate>
        </HxModal>


        <HxButton Color="ThemeColor.Danger" Text="-"/>
        <p/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Time Frame</th>
                <th scope="col">Trend</th>
                <th scope="col">Picture</th>
                <th scope="col">Analysis</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var frame in MarketReview.Frames)
            {
                <tr>
                    <td>@frame.Name</td>
                    <td>@frame.Trend</td>
                    <td>@frame.ScreenShot</td>
                    <td>@frame.Description</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

</EditForm>


@code
{
    private HxModal myModal;
}