@page "/traderregion"
@using DiaryOfTrader.Core.Entity

<PageTitle>Regions</PageTitle>

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-success mb-1" href="">+</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <CatalogTable TItem="TraderRegion" Entities="TraderRegions" RedirectEditUrl="/TraderRegionEdit"/>

        @if (CatalogItemState.SelectedEntity != null)
        {
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th colspan="2">Лето</th>
                    <th colspan="2">Зима</th>
                </tr>
                <tr>
                    <th scope="col">Город</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Откртыие UTC</th>
                    <th scope="col">Закрытие UTC</th>
                    <th scope="col">Откртыие UTC</th>
                    <th scope="col">Закрытие UTC</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var session in ((TraderRegion) CatalogItemState.SelectedEntity).Sessions)
                {
                    <tr>
                        <td>@session.Name</td>
                        <td>@session.Description</td>
                        <td>@session.SummerStarting.ToShortTimeString()</td>
                        <td>@session.SummerFinished.ToShortTimeString()</td>
                        <td>@session.WinterStarting.ToShortTimeString()</td>
                        <td>@session.WinterFinished.ToShortTimeString()</td>
                    </tr>
                }
                </tbody>
            </table>
        }

    </div>
</div>